.moreAboutMe__sectionWrapper--art {
  background-color: #dfdfdd;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.moreAboutMe__sectionWrapper--artImg {
  width: 55px;
  margin: 17px;
  @media all and (min-width: 768px) {
    margin: 10px;
  }
}
.moreAboutMe__sectionWrapper--artText {
  text-align: center;
  margin-top: -3px;
}
