.moreAboutMe__sectionWrapper--art {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moreAboutMe__sectionWrapper--artImg {
  width: 55px;
  margin: 17px;
  @media all and (min-width: 768px) {
    margin: 10px;
  }
}
.moreAboutMe__sectionWrapper--artText {
  color: $colorPrimary3;
}
