.moreAboutMe__sectionWrapper--art {
  background-color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
}
.moreAboutMe__sectionWrapper--artText {
  text-align: center;
  margin-top: -3px;
}
.icons {
  height: 20px;
  width: 20px;
}
.fa {
  margin-right: 8px;
}
.bx {
  font-size: 4rem;
}
.bxs-home {
  font-size: 1.5rem;
  margin-right: 8px;
}
