<section class="tip">
  <article class="tip__article">
    <h3 class="tip__article--title">¿Quién soy yo?</h3>
    <div class="tip__article--text">
      <p>Cada mujer es una historia que no se parece a ninguna otra.</p>
      <p>¿Y cuál es mi historia? ¿Cómo acabé siendo programadora front-end?</p>
      <p>
        Desde pequeña siempre me gustaron los ordenadores pero nunca me
        ofrecieron la posibilidad de desarrollarlo como una profesión.
      </p>
      <p>
        Estudie Filología clásica y me dediqué a la docencia con pasión pero no
        abandone mi interés por internet.
      </p>
      <p>
        Un día, que podía haber sido como otro cualquiera pero que cambió mi
        vida, descubrí Adalab y supe que era lo que quería ser y a lo que me
        quería dedicar.
      </p>
      <p>
        Asumí el reto del cambio y, con dedicación, esfuerzo y motivación, acabé
        siendo programadora front-end.
      </p>
    </div>
    <cite>Audentes fortuna iuvat </cite>
  </article>
</section>
