<footer class="menu">
  <span id="contact" class="contactSpan"></span>
  <p class="menu-text">Información de contacto</p>
  <div class="menu-wrapper">
    <nav>
      <ul class="menu-wrapper__list">
        <li class="menu-wrapper__list--email">
          <i class="fa fa-envelope" aria-hidden="true"></i
          >patriciapovedaboto@gmail.com
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="menu-wrapper__list">
        <li>
          <a
            href="https://github.com/PatriciaPoveda"
            class="menu-wrapper__list--item"
            title="Ir a Github"
            target="_blank"
            ><i class="fa fa-github" aria-hidden="true"></i>GitHub</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/patriciapovedaboto/"
            class="menu-wrapper__list--item"
            title="Ir a Linkedin"
            target="_blank"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i>Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/PatukaPoveda"
            class="menu-wrapper__list--item"
            title="Ir a Twitter"
            target="_blank"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a
          >
        </li>
      </ul>
    </nav>
    <small class="menu-wrapper__copy">
      <a href="#top" class="menu-wrapper__copy--home" title="Ir a inicio"
        ><i class="fa fa-university" aria-hidden="true"></i>Inicio</a
      >
      <span class="menu-wrapper__copy--item">&copy;2021</span>
      <!-- <span class="menu-wrapper__copy--item"
        >we
        <span class="menu-wrapper__copy--heart">&#10084;</span>
        components</span
      > -->
      <span class="menu-wrapper__copy--message">Contad conmigo PARA TODO</span>
    </small>
  </div>
</footer>
