<footer class="menu">
  <div class="menu-wrapper">
    <small class="menu-wrapper__copy">
      <a href="#top" class="menu-wrapper__copy--home" title="Ir a inicio"
        ><i class="bx bxs-home"></i>Inicio</a
      >
      <span class="menu-wrapper__copy--message">Contad conmigo PARA TODO</span>
      <span class="menu-wrapper__copy--item">&copy;2021</span>
      <!-- <span class="menu-wrapper__copy--item"
        >we
        <span class="menu-wrapper__copy--heart">&#10084;</span>
        components</span
      > -->
    </small>
  </div>
</footer>
