<aside class="games">
  <h3 class="title">Adivina el número</h3>
  <form action="" class="game">
    <label for="number" class="game__title">Introduce aquí el número:</label>
    <input
      id="number"
      class="game__number js-number"
      type="text"
      placeholder="Ej: 15"
    />
    <div class="game__btnWrapper">
      <input class="game__btn js-btn" type="button" value="Prueba" />
      <input class="game__btnReset js-btn-reset" type="button" value="Reset" />
    </div>
  </form>
  <p class="gameText js-clue">Pista: Escribe el número y dale a Prueba</p>
  <p class="gameText js-attempts">Número de intentos: 0</p>
</aside>
