<header id="top" class="top">
  <div class="togg js-togg"></div>
  <button class="hero-header-menu js-btnMenu" type="button" title="Ir a Menu">
    <i class="fa fa-bars js-fa" aria-hidden="true"></i>
  </button>
  <nav class="navToggle hidden js-nav">
    <h2 class="navToggleTitle js-navToggleTitle">Menu</h2>
    <ul class="navToggle__list js-link">
      <li class="navToggle__list--item">
        <a href="#top" class="style"><i class="bx bxs-home"></i>Inicio</a>
      </li>
      <li class="navToggle__list--item">
        <a href="#about" class="style"
          ><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sobre mi</a
        >
      </li>
      <li class="navToggle__list--item">
        <a href="#project" class="style"
          ><i class="fa fa-code" aria-hidden="true"></i>Proyectos
        </a>
      </li>
      <li class="navToggle__list--item">
        <a href="#games" class="style"
          ><i class="fa fa-play" aria-hidden="true"></i>Juega
        </a>
      </li>
    </ul>
  </nav>
  <div class="bar">
    <nav class="bar__nav js-bar__nav">
      <ul class="bar__nav--list">
        <li>
          <a
            href="https://github.com/PatriciaPoveda"
            class="bar__nav--listItem"
            title="Ir a Github"
            target="_blank"
            ><i class="fa fa-github" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/patriciapovedaboto/"
            class="bar__nav--listItem"
            title="Ir a Linkedin"
            target="_blank"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="https://twitter.com/PatukaPoveda"
            class="bar__nav--listItem"
            title="Ir a Twitter"
            target="_blank"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a
            href="mailto:patriciapovedaboto@gmail.com"
            class="bar__nav--listItem"
          >
            <i class="fa fa-envelope" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="hero">
    <h1 class="hero__title magictime perspectiveUpReturn">Patricia Poveda</h1>
    <h4 class="hero__subTitle magictime perspectiveRightReturn">
      Frontend developer
    </h4>
  </div>
</header>
