<header id="top">
  <div class="bar">
    <nav class="bar__nav js-bar__nav" >
      <ul class="bar__nav--list">
        <li class="item "><a href="#contact" class="style"> Contacto</a></li>
      </ul>
    </nav>
    <nav class="navToggle hidden js-nav">
      <h2 class="navToggleTitle js-navToggleTitle">Menu</h2>
      <ul class="navToggle__list js-link">
        <li class="navToggle__list--item"><a href="#about" class="style"> Sobre mi</a></li>
        <li class="navToggle__list--item"><a href="#project" class="style">Proyectos </a></li>
        <li class="navToggle__list--item"><a href="#games" class="style">Juega </a></li>
      </ul>
    </nav>
    <button class="hero-header-menu js-btnMenu" type="button" title="Ir a Menu">
        <img src="./assets/images/ico-menu.svg" alt="Menu"
      /></a>
    </button>
  </div>
  <div class="hero">
    <div class="hero__title">
      <span>Patricia</span>
      <span class="hero__title--span">Poveda</span>
    </div>
  </div>
</header>
