<aside class="moreAboutMe">
  <section class="moreAboutMe__section">
    <h5 class="moreAboutMe__section--title">Competencias</h5>
    <div class="moreAboutMe__sectionWrapper">
      <include
        src="./main__moreAboutMe--logos.html"
        logo="html5"
        altTitle="Logo de HTML"
        hardSkills="HTML 5"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        altTitle="Logo de CSS"
        hardSkills="CSS"
        logo="css3"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        logo="sass"
        altTitle="Logo de Sass"
        hardSkills="Sass"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        logo="javascript"
        altTitle="Logo de javaScript"
        hardSkills="javaScript"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        altTitle="Logo de React"
        hardSkills="React"
        logo="react"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        logo="nodejs"
        altTitle="Logo de Node.js"
        hardSkills="Node.JS"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        logo="git"
        altTitle="Logo de GitHub"
        hardSkills="GitHub"
      ></include>
    </div>
  </section>
</aside>
