<aside class="moreAboutMe">
  <!-- <h4 class="moreAboutMe__title">Otra información sobre mi</h4> -->
  <section class="moreAboutMe__section">
    <h5 class="moreAboutMe__section--title">Competencias</h5>
    <div class="moreAboutMe__sectionWrapper">
      <include
        src="./main__moreAboutMe--logos.html"
        img="030-html-5.png"
        altTitle="Logo de HTML"
        hardSkills="HTML 5"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="031-css.png"
        altTitle="Logo de CSS"
        hardSkills="CSS"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="026-sass.png"
        altTitle="Logo de Sass"
        hardSkills="Sass"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="029-javascript.png"
        altTitle="Logo de javaScript"
        hardSkills="javaScript"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="006-react.png"
        altTitle="Logo de React"
        hardSkills="React"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="032-nodejs.png"
        altTitle="Logo de Node.js"
        hardSkills="Node.JS"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="010-github.png"
        altTitle="Logo de GitHub"
        hardSkills="GitHub"
      ></include>
      <include
        src="./main__moreAboutMe--logos.html"
        img="gulp.png"
        altTitle="Logo de Gulp"
        hardSkills="Gulp"
      ></include>
    </div>
  </section>

  <!-- <section>
    <h5 class="moreAboutMe__section--title">Soft skills</h5>
    <div class="moreAboutMe__sectionWrapper">
      <include
        src="./main__aboutMe--asideSkills.html"
        imgSkills="charla.png"
        textSkills="Comunicación"
      ></include>
      <include
        src="./main__aboutMe--asideSkills.html"
        imgSkills="organizacion.png"
        textSkills="Organización"
      ></include>
      <include
        src="./main__aboutMe--asideSkills.html"
        imgSkills="idea.png"
        textSkills="Creatividad"
      ></include>
      <include
        src="./main__aboutMe--asideSkills.html"
        imgSkills="empatia.png"
        textSkills="Empatía"
      ></include>
      <include
        src="./main__aboutMe--asideSkills.html"
        imgSkills="optimismo.png"
        textSkills="Optimismo"
      ></include>
    </div>
  </section> -->
</aside>
