<section class="aboutMe" id="about">
  <article class="aboutMe__article">
    <h3 class="aboutMe__article--title">¿Quién soy yo?</h3>
    <div class="aboutMe__article-wrapper">
      <img
        src="./assets/images/patricia-poveda.jpg"
        class="aboutMe__article--img"
        alt=""
      />
      <div class="aboutMe__article--text">
        <!-- <p>Cada mujer es una historia que no se parece a ninguna otra.</p> -->
        <p class="text">
          Me llamo <strong>Patricia Poveda</strong> y soy
          <strong>frontend developer</strong>, aunque no siempre ha sido así.
          Soy una persona con intereses muy variados y dos de las grandes
          pasiones de mi vida han sido las lenguas y la tecnología.
        </p>
        <p class="text">
          En la universidad estudié filología clásica y me dediqué a la docencia
          mientras que, de manera autodidacta, empecé a conocer un poco sobre el
          mundo de la programación.
        </p>
        <p class="text">
          Ser profesora fue una experiencia muy gratificante y me permitió
          desarrollar mis cualidades organizativas y mi capacidad de
          comunicación. Sin embargo, estaba ansiosa por ampliar mis
          conocimientos en el campo de la programación y ahí fue cuando conocí
          <strong>Adalab</strong>, una escuela especializada en la formación
          digital para mujeres.
        </p>
        <p class="text">
          En el bootcamp de <strong>Adalab</strong> he recibido formación, entre
          otras cosas, de maquetación con <strong>HTML5</strong> ,
          <strong>CSS3</strong> y <strong>Sass</strong>,
          <strong>vanilla javaScript</strong>, <strong>React</strong> y
          <strong>Node.js</strong>. Además, he hecho prácticas tanto de
          <strong>pair programming</strong> como de
          <strong>mob programming</strong> y he utilizado la metodología
          <strong>agile</strong> y <strong>scrum</strong> para la gestión de mis
          tareas.
        </p>
        <p class="text">
          Ahora estoy en la búsqueda de mi primera oportunidad como
          <strong>frontend developer</strong> y tengo muchas ganas, no solo de
          demostrar toda mi capacidad de aprendizaje, sino toda la ilusión y el
          esfuerzo que le puedo poner al trabajo.
        </p>
      </div>
    </div>
    <cite class="aboutMe__article--cite">Audentes fortuna iuvat </cite>
  </article>
  <include src="./main_moreAboutMe.html"></include>
</section>
