<section class="project">
  <span id="project" class="projectSpan"></span>
  <div class="project-wrapper">
    <h3 class="project-wrapper__title">Proyectos conjuntos</h3>
    <include
      src="./project-card.html"
      item="item1"
      img="./assets/images/proyects/codeflix.png"
      alt="Logo de Codeflix"
      githubLinkProject="https://github.com/PatriciaPoveda/Codeflix"
      title="Codeflix"
      description="Web grupal responsive para presentar al equipo. Creada con HTML5, CSS3,
      Flexbox, Grid, SASS y Git para el control de versiones."
    ></include>
    <include
      src="./project-card.html"
      item="item2"
      img="./assets/images/proyects/logoStarCodingLabs-Blue.png"
      alt="Logo de Star Coding Labs"
      githubLinkProject="https://github.com/PatriciaPoveda/Profile-Card-S.T.A.R-Coding-Labs"
      title="Profile Card S.T.A.R Coding Labs"
      description="Web app que permite crear tarjetas de presentación de forma interactiva.
      Desarrollada con HTML5, CSS3 y JavaScript."
    ></include>
    <include
      src="./project-card.html"
      item="item3"
      img="./assets/images/proyects/Reservoir_code_White_bck.png"
      alt="Logo de Reservoir-CODE"
      githubLinkProject="https://github.com/PatriciaPoveda/Reservoir-CODE"
      title="Reservoir _Code"
      description="Web basada en el proyecto (Profile-Card) programada con react."
    ></include>
    <h3 class="project-wrapper__title">Proyectos personales</h3>
    <include
      src="./project-card.html"
      item="item4"
      img="./assets/images/proyects/buscador_codeflix.png"
      alt="Logo del buscador de Codeflix"
      githubLinkProject="https://github.com/PatriciaPoveda/Buscador-de-series-Codeflix"
      title="Buscador de series Codeflix"
      description="Web que permite buscar series y guardarlas en favoritos. Desarrollada
      con HTML5, CSS3, Sass y JavaScript."
    ></include>
    <include
      src="./project-card.html"
      item="item5"
      img="./assets/images/proyects/Rick_and_Morty.jpg"
      alt="Logo de Rick y Morty"
      githubLinkProject="https://github.com/PatriciaPoveda/Listado-de-personajes-de-Rick-and-Morty"
      title="Buscador de Rick and Morty"
      description="Web responsive hecha con React y React Router que consiste en un listado
      de personajes que podemos filtrar por el nombre."
    ></include>
  </div>
</section>
