<article class="project-wrapper__article @@item">
  <div>
    <div class="img-wrapper js-img-wrapper">
      <img
        src="@@img"
        alt="@@alt"
        class="project-wrapper__article--img js-project-wrapper__article--img"
      />
    </div>

    <h4 class="project-wrapper__article--title">@@title</h4>
    <p class="project-wrapper__article--text">@@description</p>
  </div>
  <div class="project-wrapper__article--btn">
    <a href="@@githubLinkDemo" class="project-btn" target="_blank">Demo</a>
    <a href="@@githubLinkProject" target="_blank" class="project-btn">Code </a>
  </div>
</article>
