<section id="purchase" class="purchase">
  <h3 class="purchase__title">Mis proyectos</h3>
  <div class="purchase-wrapper">
    <article class="purchase-wrapper__article item1">
      <h4 class="purchase-wrapper__article--title">Codeflix</h4>

      <a href="https://github.com/PatriciaPoveda/Codeflix">Enlace</a>

      <p class="purchase-wrapper__article--text">
        Web grupal responsive para presentar al equipo. Creada con HTML5, CSS3,
        Flexbox, Grid, SASS y Git para el control de versiones.
      </p>
    </article>
    <article class="purchase-wrapper__article item2">
      <h4 class="purchase-wrapper__article--title">S.T.A.R CODING LABS</h4>
      <a
        href="https://github.com/PatriciaPoveda/Profile-Card-S.T.A.R-Coding-Labs"
        >Enlace</a
      >
      <p class="purchase-wrapper__article--text">
        Web app que permite crear tarjetas de presentación de forma interactiva.
        Desarrollada con HTML5, CSS3 y JavaScript.
      </p>
    </article>
    <article class="purchase-wrapper__article item3">
      <h4 class="purchase-wrapper__article--title">Reservoir _Code</h4>
      <a href="https://github.com/PatriciaPoveda/Reservoir-CODE">Enlace</a>
      <p class="purchase-wrapper__article--text">
        Web basada en el proyecto (Profile-Card) programada con react.
      </p>
    </article>
  </div>
</section>
