<article class="project-wrapper__article @@item">
  <img src="@@img" alt="@@alt" class="project-wrapper__article--img" />
  <h4 class="project-wrapper__article--title">@@title</h4>
  <p class="project-wrapper__article--text">@@description</p>
  <div class="project-wrapper__article--btn">
    <a href="#" class="project-btn">Demo</a>
    <a href="@@githubLinkProject" target="_blank" class="project-btn"
      >Code
      <!-- <button class="project-btn">Code</button> -->
    </a>
  </div>
</article>
