* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  color: $textPrimary;
  font-family: $fontText;
  // background-color: #6f83bf;
}
a {
  color: $textPrimary;
  text-decoration: none;
}
