// fonts
// $fontText: "Nunito", sans-serif;
$fontText: "Baskervville", serif;
$fontTitle: "Arvo", serif;

// colors
$colorPrimary: #033e8c;
$colorPrimary2: #081a40;
$colorPrimaryShadow: rgba(3, 62, 140, 0.9);
$colorSecundary: #f2eac2;
$colorHover: #041026;
$colorCart: #f24607;

//font-size
$textBasicMin: 1rem;
$textBasicMed: 1.125rem;
$textTitleMax: 2.5rem;
$textTitleMed: 2.2rem;
$textTitleMin: 2rem;
