// fonts
$fontTitle: "Dirtgrub Graffiti";
$fontText: "Nunito", sans-serif;
// $fontText: "Source Code Pro", monospace;

// colors
$colorshadow: rgba(0, 0, 0, 0.5);
$textPrimary: #f2f2f0;
$colorPrimary: #203572;
$colorPrimaryShadow: rgba(32, 53, 114, 1);
$colorSecundary: #f2cb05;
$colorSecundary2: #f2e205;
$colorHover: #f28907;
$colorCart: #f24607;
