// fonts
// $fontText: "Nunito", sans-serif;
$fontText: "Baskervville", serif;
$fontTitle: "Arvo", serif;

// colors
// $colorPrimary: #033e8c;
// $colorPrimary2: #081a40;
// $colorPrimaryShadow: rgba(3, 62, 140, 0.9);
// $colorSecundary: #f2eac2;
// $colorHover: #041026;
// $colorCart: #f24607;

// $colorPrimary: #7dc44c;
// $colorPrimary2: #008c38;
// $colorPrimaryShadow: rgba(0, 140, 56, 0.9);
// $colorSecundary: #d4ffd1;
// $colorHover: #a8ce8e;
$colorPrimary: #7ac441;
$colorPrimary2: #d1bd24;
// $colorPrimaryShadow: rgba(122, 196, 65, 0.9);
$colorPrimaryShadow: rgba(209, 189, 36, 0.9);
$colorSecundary: #bfff6b;
$colorHover: #ffce26;

//font-size
$textBasicMin: 1rem;
$textBasicMed: 1.125rem;
$textTitleMax: 2.5rem;
$textTitleMed: 2.2rem;
$textTitleMin: 2rem;
