// fonts
$fontTitle: "Permanent Marker", cursive;

// colors

$colorshadow: rgba(0, 0, 0, 0.5);
$colorTextArticle: #4a4a4a;
$colorPrimary1: #2f3131;
$colorPrimary2: #f9ba32;
$colorPrimary3: #426e86;
$colorPrimary4: #f8f1e5;
