// fonts
$fontTitle: "Permanent Marker", cursive;
$fontText: "Nunito", sans-serif;

// colors

$colorshadow: rgba(0, 0, 0, 0.5);
$colorTextArticle: #4a4a4a;
// $colorPrimary1: #2f3131;
// $colorPrimary2: #f9ba32;
// $colorPrimary3: #426e86;
// $colorPrimary4: #f8f1e5;

// $colorPrimary1: #261010;
// $colorPrimary2: #a6a085;
// $colorPrimary3: #2c4859;
// $colorPrimary4: #8097a6;
// $colorPrimary5: #733122;

$colordetails2: blanchedalmond;
$colordetails: #d93654;
$colorPrimary1: #0b5b8c;
$colorPrimary2: #0f698c;
$colorPrimary3: #60a4bf;
$colorSecundary1: #d9bea7;
