.aboutMe {
  position: relative;
  color: $colorPrimary1;
  padding: 30px 15px 45px 15px;
  @media all and (min-width: 768px) {
    padding: 30px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    margin: auto;
    padding: 60px 0;
    margin-left: 50px;
    display: flex;
  }
  .about {
    position: absolute;
    top: -44px;
    @media all and (min-width: 768px) {
      top: -59px;
    }
  }
  &__article {
    text-align: center;
    font-family: $fontText;
    @media all and (min-width: 768px) {
      text-align: left;
    }
    @media all and (min-width: 1200px) {
      max-width: 730px;
    }
    &--title {
      // font-family: $fontTitle;
      font-size: 24px;
      line-height: 1.25;
      text-transform: capitalize;
      @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.73;
      }
      @media all and (min-width: 1200px) {
        font-size: 40px;
        line-height: 1.41;
      }
    }
    &--img {
      width: 200px;
    }
    &--text {
      margin-top: 15px;
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.67;
      @media all and (min-width: 768px) {
        margin-top: 30px;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
}
.text {
  margin-bottom: 20px;
}

.moreAboutMe {
  font-family: $fontText;
  font-size: 17px;
  text-align: justify;
  margin-top: 20px;
  color: $colorPrimary1;
  background-color: $colordetails2;
  padding: 10px;
  border-radius: 10px;
  @media all and (min-width: 1200px) {
    margin: 280px 15px 0 55px;
    height: 370px;
    width: 800px;
  }
  &__section--title {
    margin: 20px 0;
    font-size: 15px;
  }
  .moreAboutMe__sectionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // width: 270px;
    @media all and (min-width: 768px) {
      width: 100%;
      flex-wrap: nowrap;
    }
  }
}
