.contactSpan {
  position: absolute;
  top: -59px;
}
.menu {
  position: relative;
  background-color: $colorPrimary;
  text-align: center;
  text-transform: uppercase;
  &-text {
    font-size: 1.563rem;
    padding: 20px 15px 20px 15px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0 45px 0;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 8px 39px 15px 19px;
    }
    &__list {
      padding-top: 20px;
      padding-bottom: 30px;
      font-size: 1.25rem;
      line-height: 1.88;
      text-align: start;
      list-style-type: none;
      &--item {
        transition: all ease 0.3s;
        @media all and (min-width: 1200px) {
          &:hover {
            font-size: 1.125rem;
            font-weight: 500;
            color: $colorHover;
          }
        }
      }
      &--email {
        font-size: 1.1rem;
        text-transform: lowercase;
        display: inline-flex;
        line-height: 1;
      }
    }
    &__copy {
      padding-top: 20px;
      font-size: 1.125rem;
      line-height: 2.14;
      @media all and (min-width: 768px) {
        order: 2;
      }
      &--home {
        @media all and (min-width: 1200px) {
          &:active {
            color: $colorHover;
          }
        }
      }
      &--item {
        display: block;
      }
      &--message {
        text-transform: capitalize;
      }
      // &--heart {
      //   color: red;
      //   transition: font-size ease 0.5s;
      //   &:hover {
      //     font-size: 30px;
      //   }
      // }
    }
  }
}
