.menu {
  background-color: $colorPrimary;
  text-align: center;
  text-transform: uppercase;
  font-family: $fontText;
  &-text {
    font-size: 25px;
    padding: 20px 15px 20px 15px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    padding: 18px 0 45px 0;
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 8px 39px 15px 39px;
    }
    &__list {
      padding-top: 20px;
      padding-bottom: 30px;
      font-size: 16px;
      line-height: 1.88;

      list-style-type: none;
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
      &--item {
        transition: all ease 0.3s;
        text-decoration: none;
        &:hover {
          font-size: 18px;
          font-weight: 500;
          color: $colorHover;
        }
      }
    }
    &__copy {
      padding-top: 20px;
      font-size: 18px;
      line-height: 2.14;
      @media all and (min-width: 768px) {
        order: 2;
      }
      &--item {
        display: block;
      }
      // &--heart {
      //   color: red;
      //   transition: font-size ease 0.5s;
      //   &:hover {
      //     font-size: 30px;
      //   }
      // }
    }
    &__list,
    &__copy {
      @media all and (min-width: 768px) {
        width: 210px;
      }
    }
    &__list,
    &__copy {
      @media all and (min-width: 1200px) {
        width: 160px;
      }
    }
  }
}
