.games {
  color: $colorPrimary;
  margin: 20px 0;
  &__info {
    font-size: 26px;
    text-align: center;
    color: $colorCart;
    margin: 20px;
    font-weight: 700;
  }
}
.gessNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}
.gessNumberTitle {
  font-size: 35px;
  @media all and (min-width: 768px) {
    font-size: 40px;
  }
}
.gessNumberForm {
  &__title {
    font-size: 20px;
    font-weight: 600;
  }
  &__number {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(233, 229, 229);
    border: 0;
    outline: 0;
    padding-left: 5px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    &::placeholder {
      padding-left: 5px;
      font-size: 16px;
      color: rgb(175, 174, 174);
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    &--btn {
      width: 70px;
      height: 30px;
      background-color: $colorSecundary2;
      color: white;
      font-size: 16px;
      border: 0;
      border-radius: 7px;
      margin-right: 20px;
      outline: 0;
      &:active {
        background-color: $colorSecundary;
      }
    }
    &--btnReset {
      width: 50px;
      height: 30px;
      background-color: $colorCart;
      color: white;
      font-size: 16px;
      border: 0;
      border-radius: 7px;

      outline: 0;
      &:active {
        background-color: $colorHover;
      }
    }
  }
}
.gessNumberText {
  border: $colorPrimary solid 2px;
  height: 30px;
  width: 270px;
  font-size: 16px;
  padding-left: 7px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.7;
  border-radius: 10px;
}
