.bar {
  height: 60px;
  width: 100%;
  background-color: $colorPrimary1;
  position: fixed;
  z-index: 1;
  top: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
  &__nav {
    &--list {
      display: flex;
      justify-content: space-between;

      font-size: 14px;
      text-transform: uppercase;
      list-style-type: none;

      font-family: $fontTitle;

      @media all and (min-width: 768px) {
        font-size: 23px;
      }
    }
  }
}
.item {
  padding: 15px 15px 20px 15px;
}
.style {
  color: $colorPrimary2;
}
.hero {
  height: 100vh;
  background-image: url(../images/gratisography-trash-eyes-320.jpg);

  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  // @media all and (min-width: 768px) {
  //   background-image: url(../images/gratisography-trash-eyes-320.jpg);
  // }
  @media all and (min-width: 1200px) {
    background-image: url(../images/gratisography-trash-eyes-1.jpg);
  }
  &-wrapper {
    color: $colorPrimary2;
    // position: absolute;
    bottom: 143px;
    @media all and (min-width: 768px) {
      bottom: 120px;
    }
    @media all and (min-width: 1200px) {
      // bottom: 88px;
    }
    &__title {
      font-family: $fontTitle;
      font-size: 36px;
      line-height: 1.31;
      text-transform: uppercase;
      text-shadow: 0 2px 3px rgba(77, 48, 48, 0.7);
      margin-bottom: 5px;
      animation-name: __title;
      animation-duration: 6s;
      animation-iteration-count: 1;
      @keyframes __title {
        from {
          opacity: 0;
          transform: translateY(-250px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 1.33;
        margin-bottom: 20px;
      }
      @media all and (min-width: 1200px) {
        font-size: 80px;
        line-height: 1.32;
        text-shadow: 0 2px 5px $colorshadow;
        margin-bottom: 0px;
        width: 200px;
        transform: translate(40%, -25%);
        @keyframes __title {
          from {
            opacity: 0;
            transform: translate(40%, -60%);
          }
          to {
            opacity: 1;
            transform: translate(40%, -25%);
          }
        }
      }
    }
    // &__text {
    //   font-size: 16px;
    //   @media all and (min-width: 768px) {
    //     font-size: 24px;
    //   }
    // }
  }
}
