.bar {
  height: 60px;
  width: 100%;
  background-color: rgba(32, 53, 114, 0.8);
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: left;
  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
  &__nav {
    &--list {
      font-size: 1.5rem;
      text-transform: uppercase;
      list-style-type: none;
      font-weight: 600;
      @media all and (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
}
.item {
  margin: 15px 6px 15px 15px;
  @media all and (min-width: 768px) {
    margin: 15px 12px 20px 12px;
  }
}

.style {
  @media all and (min-width: 1200px) {
    &:hover {
      color: $colorHover;
    }
  }
}
.hidden {
  display: none;
}

.hero-header-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $colorPrimary;
  border: $textPrimary solid 2px;
  width: 60px;
  height: 60px;
  outline: 0;
  transition: background-color ease 0.3s;
  @media all and (min-width: 768px) {
    height: 59px;
    width: 59px;
  }
  @media all and (min-width: 1200px) {
    &:hover {
      background-color: $colorHover;
    }
  }
}
.navToggle {
  width: 100vw;
  height: 180px;
  background-color: rgba(32, 53, 114, 1);
  position: absolute;
  right: 0;
  top: 60px;

  &__list {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 600;
    @media all and (min-width: 768px) {
      font-size: 1.5rem;
    }
    &--item {
      margin-bottom: 10px;
    }
  }
}
.hero {
  height: 100vh;
  background-image: url(../images/wall.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    color: black;
    font-family: $fontTitle;
    font-size: 30vw;
    font-weight: 900;
    // width: 320px;
    line-height: 1.31;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(77, 48, 48, 0.7);
    transform: rotate(-7deg);
    @media all and (min-width: 768px) {
      font-size: 240px;
      line-height: 1.33;
      width: 600px;
    }
    @media all and (min-width: 1200px) {
      line-height: 1.32;
      text-shadow: 0 2px 5px $colorshadow;
    }
  }
}
