.bar {
  height: 45px;
  width: 100%;
  background-color: $colorPrimary3;
  position: fixed;
  z-index: 1;
  top: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    justify-content: space-between;
    height: 60px;
  }
  &__nav {
    &--list {
      display: flex;
      justify-content: space-around;
      font-size: 17px;
      text-transform: uppercase;
      list-style-type: none;
      font-family: $fontText;

      @media all and (min-width: 768px) {
        font-size: 23px;
      }
    }
  }
}
.item {
  margin: 15px 6px 20px 6px;
  @media all and (min-width: 768px) {
    margin: 15px 12px 20px 12px;
  }
}
.style {
  color: $colordetails2;
  &:hover {
    color: $colordetails;
  }
}
.hero {
  height: 100vh;
  background-image: url(../images/gratisography-trash-eyes-320.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  @media all and (min-width: 1200px) {
    background-image: url(../images/gratisography-trash-eyes-1.jpg);
  }

  &__title {
    color: $colorSecundary1;
    font-family: $fontTitle;
    font-size: 36px;
    position: absolute;
    line-height: 1.31;
    text-transform: uppercase;
    // text-shadow: 0 2px 3px rgba(77, 48, 48, 0.7);
    bottom: 20px;
    animation-name: __title;
    animation-duration: 6s;
    animation-iteration-count: 1;
    @keyframes __title {
      from {
        opacity: 0;
        transform: translateY(-150px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 1.33;
    }
    @media all and (min-width: 1200px) {
      font-size: 77px;
      line-height: 1.32;
      text-shadow: 0 2px 5px $colorshadow;
      top: 110px;
      width: 200px;

      // transform: translate(40%, -25%);

      // @keyframes __title {
      //   from {
      //     opacity: 0;
      //     transform: translate(40%, -60%);
      //   }
      //   to {
      //     opacity: 1;
      //     transform: translate(40%, -25%);
      //   }
      // }
    }
  }
}
