.bar {
  height: 40px;
  width: 100vw;
  background-color: $colorPrimaryShadow;
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
  &__nav {
    &--list {
      font-size: 1.5rem;
      list-style-type: none;
      display: flex;
      margin-left: 2vw;
    }
    &--listItem {
      margin: 0 10px;
      transition: all ease 0.3s;
      @media all and (min-width: 1200px) {
        margin: 0 5px;
        &:hover {
          font-weight: 500;
          color: $colorHover;
        }
      }
    }
  }
}
.item {
  margin: 15px 6px 15px 15px;
  @media all and (min-width: 768px) {
    margin: 15px 12px 20px 12px;
  }
}

.style__contact {
  @media all and (min-width: 1200px) {
    &:active {
      color: $colorHover;
    }
  }
}
.style {
  @media all and (min-width: 1200px) {
    &:hover {
      color: $colorHover;
    }
  }
}
.hidden {
  display: none;
}
.togg {
  width: 100vw;
  position: fixed;
  height: 40px;
  background-color: $colorPrimary;
  z-index: 1;
  transition: transform 0.3s;
  @media all and (min-width: 768px) {
    height: 45px;
  }
}
.scrollDown {
  transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
}

.scrollUp {
  transform: translate(0);
  -webkit-transform: translate(0);
}
// .scrollUp {
//   transform: none;
//   -webkit-transform: none;
// }
.fa-bars {
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}
.hero-header-menu {
  position: fixed;
  right: 0;
  margin: 5px 5px 0 auto;
  color: $colorSecundary;
  height: 0px;
  outline: 0;
  border: 0;
  font-size: 1.7rem;
  z-index: 3;
  cursor: pointer;

  @media all and (min-width: 768px) {
    font-size: 2.2rem;
  }
}
.navToggleTitle {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 10px;
  @media all and (min-width: 768px) {
    margin-top: 17px;
  }
}
.navToggle {
  background-color: $colorPrimary2;

  position: fixed;
  width: 100vw;
  z-index: 2;
  box-shadow: 0 2px 2px rgba(77, 48, 48, 170%);
  @media all and (min-width: 1200px) {
    width: 20vw;
    right: 0;
  }
  &__list {
    text-align: center;
    font-size: 1.125rem;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 600;
    @media all and (min-width: 768px) {
      font-size: 1.25rem;
    }
    &--item {
      margin: 20px;
      border-bottom: $colorSecundary 1px solid;
    }
  }
}
.hero {
  font-family: $fontTitle;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  padding-left: 7%;
  background-color: $colorPrimary;
  @media all and (min-width: 540px) {
    padding-left: 5%;
  }
  &__title {
    font-size: 23vw;
    // color: $colorSecundary;
    @media all and (min-width: 540px) {
      font-size: 12vw;
    }
    @media all and (min-width: 1200px) {
      font-size: 10vw;
    }
  }
  &__subTitle {
    font-size: 9vw;
    color: $colorPrimary2;
    @media all and (min-width: 540px) {
      font-size: 7vw;
    }
    @media all and (min-width: 1200px) {
      font-size: 5vw;
    }
  }
}
.magictime.openDownLeftReturn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.magictime.boingInUp {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.magictime.spaceInUp {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
.magictime.puffIn {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
