.project {
  position: relative;
  background-color: $colorSecundary;
  text-align: center;
  display: flex;
  justify-content: center;
  .projectSpan {
    position: absolute;
    top: -44px;
    @media all and (min-width: 768px) {
      top: -59px;
    }
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 500px 500px 500px 30px 500px 500px;
    row-gap: 30px;
    margin: 30px 0px;
    @media all and (min-width: 768px) {
      gap: 40px;
      grid-template-columns: 130px 130px 130px 130px 130px 130px;
      grid-template-rows: 50px 500px 500px 50px 500px;
    }
    @media all and (min-width: 1200px) {
      grid-template-rows: 50px 500px 50px 500px;
    }
    &__title {
      font-size: 1.5rem;
      line-height: 1.25;
      text-transform: uppercase;
      grid-column: 1 / 7;
      @media all and (min-width: 768px) {
        font-size: 1.625rem;
        line-height: 1.73;
      }
      @media all and (min-width: 1200px) {
        font-size: 2rem;
        line-height: 1.41;
      }
    }
    &__article {
      background-color: $colorSecundary2;
      grid-column: 1 / 7;
      height: 500px;
      width: 260px;
      margin: auto;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media all and (min-width: 768px) {
        height: 500px;
      }
      &.item1 {
        @media all and (min-width: 768px) {
          grid-column: 2 / 4;
        }
        @media all and (min-width: 1200px) {
          grid-column: 1 / 3;
        }
      }
      &.item2 {
        @media all and (min-width: 768px) {
          grid-column: 4 / 6;
        }
        @media all and (min-width: 1200px) {
          grid-column: 3 / 5;
        }
      }
      &.item3 {
        @media all and (min-width: 768px) {
          grid-column: 3 / 5;
        }
        @media all and (min-width: 1200px) {
          grid-column: 5 / 7;
        }
      }
      &.item4 {
        @media all and (min-width: 768px) {
          grid-column: 2 / 4;
        }
      }
      &.item5 {
        @media all and (min-width: 768px) {
          grid-column: 4 / 6;
        }
      }
      .img-wrapper {
        width: 220px;
        height: 150px;
        background-color: white;
        border-radius: 20px;
      }
      &--img {
        border-radius: 20px;
        width: 220px;
        max-height: 150px;
      }
      &--title {
        text-decoration: none;
        color: $colorCart;
        font-size: 18px;
        line-height: 1.67;
        height: 55px;
        margin-top: 10px;
        @media all and (min-width: 768px) {
          font-size: 24px;
          line-height: 1.25;
        }
      }
      &--text {
        font-size: 1.125rem;
        line-height: 1.67;
        color: $colorHover;
        font-weight: 600;
        @media all and (min-width: 768px) {
          font-size: 1.25rem;
          line-height: 1.5;
        }
      }
      &--btn {
        margin: 10px 0;
      }
    }
  }
}
.project-btn {
  text-decoration: none;
  padding: 4px 25px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: $colorCart;
  font-size: 1.125rem;
  &:hover {
    background-color: $colorHover;
  }
}
