.project {
  background-color: $colorPrimary2;
  text-align: center;
  font-family: $fontText;
  display: flex;
  justify-content: center;
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 470px 470px 470px 30px 470px 470px;
    row-gap: 30px;
    margin: 30px 0px;
    @media all and (min-width: 768px) {
      gap: 40px;
      grid-template-columns: 130px 130px 130px 130px 130px 130px;
      grid-template-rows: 50px 500px 500px 50px 500px;
    }
    @media all and (min-width: 1200px) {
      grid-template-rows: 50px 500px 50px 500px;
    }
    &__title {
      font-size: 24px;
      line-height: 1.25;
      text-transform: uppercase;
      color: $colorPrimary1;
      grid-column: 1 / 7;
      @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.73;
      }
      @media all and (min-width: 1200px) {
        font-size: 32px;
        line-height: 1.41;
      }
    }
    &__article {
      grid-column: 1 / 7;
      height: 470px;
      width: 260px;
      margin: auto;
      border: solid 1px black;
      border-radius: 20px;
      padding: 20px;
      @media all and (min-width: 768px) {
        height: 500px;
      }
      &.item1 {
        @media all and (min-width: 768px) {
          grid-column: 2 / 4;
        }
        @media all and (min-width: 1200px) {
          grid-column: 1 / 3;
        }
      }
      &.item2 {
        @media all and (min-width: 768px) {
          grid-column: 4 / 6;
        }
        @media all and (min-width: 1200px) {
          grid-column: 3 / 5;
        }
      }
      &.item3 {
        @media all and (min-width: 768px) {
          grid-column: 3 / 5;
        }
        @media all and (min-width: 1200px) {
          grid-column: 5 / 7;
        }
      }
      &.item4 {
        @media all and (min-width: 768px) {
          grid-column: 2 / 4;
        }
      }
      &.item5 {
        @media all and (min-width: 768px) {
          grid-column: 4 / 6;
        }
      }
      &--img {
        width: 220px;
        // height: 120px;
        max-height: 150px;
        // margin: 20px;
        // border: black solid 1px;
        background-color: white;
        border-radius: 20px;
      }
      &--title {
        text-decoration: none;
        color: $colorPrimary4;
        font-size: 18px;
        line-height: 1.67;
        height: 55px;
        @media all and (min-width: 768px) {
          font-size: 24px;
          line-height: 1.25;
        }
        // &:visited {
        //   color: black;
        // }
      }
      &--text {
        font-size: 18px;
        line-height: 1.67;
        color: $colorPrimary3;
        height: 190px;
        @media all and (min-width: 768px) {
          font-size: 20px;
          line-height: 1.5;
          height: 220px;
        }
      }
      // &--btn {
      //   display: flex;
      //   align-self: flex-end;
      // }
    }
  }
}
.project-btn {
  text-decoration: none;
  padding: 6px 24px;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: blanchedalmond;
}
